h1{
    color: rgb(94, 68, 29);
    text-decoration: line-through;
    background-color:rgb(178, 186, 193)
}
.box{
    height: 110px;
    width: 180px;
    border: 2px solid black;
    background-color: aquamarine;
}

#box{
    height: 110px;
    width:110px;
    border: 2px solid black;
    background-color: rgb(231, 101, 53);
}


.content{
    color: green;
    background-color: chocolate;
}

.newclass{
    color: red;
}

div{
    height: 110px;
    width: 110px;
    color: darkorange;
    background-color: rgb(233, 199, 154);
    border: 3px solid black;
}

